
.app-section {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  padding: 32px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 1024px) {
    padding: 24px 20px;
  }
}

.project-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}


